/*
 * Estilos de tu proyecto
 */

 body{
 	background-image: url(../assets/images/fondo.jpg);
 	background-repeat: no-repeat;
 	background-size: 100%;
 	margin:0px auto;

 	
}

nav{
	font-family: 'Montserrat', sans-serif;
	color: #fff
	position:fixed;
	width: 100%;
	height: 100px;
	left: 0px;
	top:0px;

}

ul.horizontal{
	list-style: none;
	
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 0px;
	
}

ul.horizontal li{
	display:block;
	float:left;
	padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    margin-top: 32px;
    padding-left: 10px;
    margin-left: 17px;
    color: #fff;

}
ul.horizontal li .home{
	width: 70px;
    padding-right: 650px;
    padding-left: 70px;
    padding-top: 0px;
	margin-top: -6px;
}

a.ingresar{
	border: 1px solid #fff;
	border-radius: 12px;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

/*
.traslucido{
	/*position: absolute;
	background: linear-gradient(transparent,#76278F);
	width: 100%;
	height:6em;
	top:35em;
}
*/
.seccion_dos{
	background: #fff;
	width: 490px;
	height: 400px;
	margin-top: 2px;
	float: left;
	overflow: hidden;
	clear: both;
	margin-left: 809px;
	padding-left: 50px;
	padding-top: 30px;
	font-family: 'Montserrat:300', sans-serif;

}

h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	color: #352384;
	line-height: 34px;
	margin-bottom: 8px;
}

h4{
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 13px;
	color: #352384;
	padding-bottom: 20px;
}

p{
	color: #C1C1C1;
	font-size: 14px;
	margin-bottom: 5px;
}

hr{
	border: 0.5px solid #352384;
	width: 400px;
	margin-left: 0px;
	margin-bottom: 40px;

}
.boton{
	text-decoration: none;
	background: #FF00BF;
	border-radius: 8px;
	padding: 15px;
	color: #fff;
	
}

.sign{
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #A3ADBD;
}

h6{
	font-family: 'Montserrat:200', sans-serif;
	color: #A3ADBD;
	line-height: 25px;
	margin-top: 30px;
}

.seccion_tres{
	background: linear-gradient(#76278F, #2B1E66);
	margin-top: 300px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;

}

h2{
	color: #fff;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}

.contenedor{
	display: inline-block;
	margin-left: 150px;
}
.degradado{
	
	width: 1349px;
}

.tel{
	width: 550px;
	height: 600px;
	float: right;
	display: inline-block;
	clear: both;
	overflow: hidden;
}

.telefono{
	width: 450px;
	height: 500px;
	margin-right: 150px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
}

.videos{
	width: 200px;
	height: 400px;
	display: inline-block;
	clear:both;
	overflow: hidden;
}

.caja_video{
	display: inline-block;
	float: right;
	padding-top: 0px;
}

.texto_video{
	color: #000;
	font-family: 'Montserrat', sans-serif;
	margin-left: 90px;
	display: inline-block;
}

.texto_video h6{
	margin-top: 30px;
	color: #000;
	margin-bottom: 0px;
}

.texto_video h3{
	color: #000;
	margin-top: 0px;
}

.texto_video p{
	color: #000;
	margin-top: 30px;
}